/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Animations
   ========================================================================== */

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
    100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
    100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.fadeIn, .hide-menu-avatar,  .hide-menu-name, .hide-menu-section
{
    -webkit-animation:fadeIn 0.5s forwards;
    animation: fadeIn 0.5s forwards;
}

.fadeOut, .show-menu-avatar,  .show-menu-name, .show-menu-section
{
    -webkit-animation:fadeOut 0.5s forwards;
    animation: fadeOut 0.5s forwards;
}

/* ==========================================================================
   Typed cursor
   ========================================================================== */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
	z-index: 55;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ==========================================================================
   @General
   ========================================================================== */

body
{
    background: #d1d1d1;
    color: #343434;
    font-size: 13px;
}

/* ==========================================================================
   @Header
   ========================================================================== */

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 20px;
    height: 120px;
    background: #334060 url(../img/header.png) left no-repeat;
   /* background: #334060;*/
	z-index: 50;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#header img
{
    float: left;
    width: 40px;
    height 40px;
    border-radius: 28px;
    margin-right: 10px;
}

#header h1 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}

#header h2
{
    font-family: 'Raleway', sans-serif;
    color: rgb(197, 217, 255);
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#header h3
{
    float: right;
    font-family: 'Raleway', sans-serif;
    color: rgb(197, 217, 255);
    font-weight: 200;
    font-size: 20px;
    margin: 0px;
    margin-top: 42px;
    margin-right: 50px;
    padding: 0px;
}

@-webkit-keyframes showHeader {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes hideHeader {

  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes showHeader {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes hideHeader {

  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.show-header {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: showHeader;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: showHeader;
}

.hide-header {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: hideHeader;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: hideHeader;
}

/* ==========================================================================
   @Menu
   ========================================================================== */



#menu {
	position: fixed;
	top: 110px;
	left: 0;
	width: 100%;
	padding: 20px 0px;
    height: 30px;
    background: #4e638b;
	z-index: 55;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
    text-align: center;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.32);
}

#menu img
{
    opacity: 0;
    position:absolute;
    top: 22px;
    left:20px;
    width: 32px;
    height 32px;
    border-radius: 28px;
    margin-right: 10px;
}

#menu h1 
{
    opacity: 0;
    position: absolute;
    top: 22px;
    left:60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

#menu h2
{
    opacity: 0;
    position: absolute;
    top: 25px;
    right:30px;
    font-family: 'Raleway', sans-serif;
    color: rgb(197, 217, 255);
    font-weight: 200;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}


#menu a
{
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
}

#menu a:hover
{
    color: rgb(131, 170, 255);
}

#menu .icon
{
    color: #fff;
    font-size: 26px;
}

@keyframes showMenu {
  0% {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes hideMenu {

  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
  }
}

@-webkit-keyframes showMenu {
  0% {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes hideMenu {

  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
  }
}

.show-menu {
  -webkit-animation-duration: 0.60s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: showMenu;
  animation-duration: 0.60s;
  animation-fill-mode: both;
  animation-name: showMenu;
}

.hide-menu {
  -webkit-animation-duration: 0.45s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: hideMenu;
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: hideMenu;
}

/* ==========================================================================
   @Footer
   ========================================================================== */

#footer
{
    color: #8491a7;
    text-align: center;
    font-size: 11px;
	padding: 10px 10px;
    height: 30px;
    margin: 0px;
}

/* ==========================================================================
   @Content
   ========================================================================== */

#disqus_thread
{
    margin: 20px;   
}

#content
{
    margin: 0;
    margin-top:180px;
    background: #ededed;   
    padding: 0px;
}

#content h1 {
    font-family: 'Raleway', sans-serif;
     background: #d1d1d1;
    padding: 30px 0px;
    font-size: 32px;
    color: #3f69a2;
    font-weight: 400;
    text-align: center;
}

#content a {
    color: rgb(97, 150, 226);
}

#content img {
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 96%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}

#content a:hover {
    color: rgb(131, 170, 255);
}

#content code {
    background: rgb(255, 255, 255);
    padding: 3px;
}

#content pre code {
    padding: 20px;
}


#content h2 {
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
    font-size: 25px;
    color: #3a5f8b;
}

#content h3 {
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
    font-size: 20px;
    color: #354250;
}

#content p {
    padding: 0px 10px;
    color: #354250;
}

#content .post
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ccc;   
    text-decoration: none;
}


#content .post:hover
{
  background: #fff; 
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06); 
}

#content .post h2
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    margin-bottom: 4px;
}

#content .post:hover h2
{
    color: rgb(97, 150, 226);
}

#content .post h3
{
    font-size: 12px;
    color: #888;
    margin-top: 0px;
    margin-bottom: 0px;
}

#content .post h3 .tag {
    font-size: 9px;
    color: #fff;
    background: rgb(97, 150, 226);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 3px;
}

#content .post .icon
{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 8px;
}

/* ==========================================================================
   @Contact
   ========================================================================== */

#content .contacts
{
    padding: 20px 0px;
}

#content .contacts .contact
{
    display: block;
    width: 60%;
    height: 75px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}

#content .contacts .contact .icon
{
    color: rgb(97, 150, 226);
    position: relative;
    float: left;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size:50px;
}

#content .contacts .contact h3
{
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 0px;
    font-size: 12px;
}

#content .contacts .contact p
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 0px;
    color: rgb(97, 150, 226);
    font-size: 22px;
}

#content .contacts .contact:hover
{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.20);
}

/* ==========================================================================
   @Small-screens
   ========================================================================== */


@media (max-width: 700px) {
    
    #content h1 {
        font-size: 25px;
    }
    
    #header h1 
    {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: #ffffff;
        font-size: 28px;
        margin-top: 3px;
        padding: 0px;
    }
    
    #menu h1 
    {
        display: none !important;
        visibility: hidden;
    }
    #menu h2 
    {
        font-size: 11px;
        font-weight: 400;
        top: 32px;
    }
    #menu a
    {
        text-decoration: none;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #menu .icon
    {
        color: #fff;
        font-size: 20px;
        margin-top: 5px;
        display: inline-block;
    }
    
    #header h2
    {
        font-size: 16px;
    }
    
    #header h3
    {
        
        font-size: 15px;
        font-weight: 400;
        margin-top: 12px;
    }
    
    #content .post h2
    {
        font-size: 16px;
    }

    #content .post h3
    {
        font-size: 12px;
    }
    
    #content .contacts .contact h3
    {
        padding-top: 20px;
        font-size: 10px;
    }

    #content .contacts .contact p
    {
        font-size: 14px;
    }
    
    #content .contacts .contact
    {
        width: 80%;
        margin-left: 10%;   
    }
}