body
{
	font-family: 'Source Sans Pro';
	margin: 0px;
	padding: 0px;
	background: #191919 url("../image/background.png") no-repeat;
}

.profilepic
{
	margin-bottom: 26px;
	background: url('../image/profilepic.png') no-repeat center;
	height: 76px;
}

/* Header bar */

#bar
{
	background-color: #111111;
	height: 50px;
}

/* Introduction */

#introduction
{
	margin-top: 140px;
}

#introduction h1
{
	margin: 0px;
	text-align: center;
	color: #ffffff;
	font-size: 36px;
	font-weight: 200;
}

#introduction h2
{
	margin: 0px;
	text-align: center;
	color: #9877dc;
	font-size: 20px;
	font-weight: 400;
}

/* Indicator */

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.down
{
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: down;
  animation-name: down;
  animation-iteration-count: infinite;
}

#indicator
{
	margin-top: 40px;
	text-align: center;
	color: #9877dc;
	font-size: 20px;
}

/* Contact */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse
{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

#contact, #contact:visited
{
	margin-top: 26px;
	display: block;
	text-decoration: none;
	color: #9877dc;
	font-size: 54px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#contact:hover
{
	text-decoration: none;
	color: #ffffff;
}

/* About */

#about
{
	margin-top: 26px;
	padding: 0px;
	text-align: center;
	list-style-type: none;
}

#about li
{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #505050;
}

/* Section */

.section
{
	margin-top: 65px;
}

.section h1
{
	margin: 5px;
	color: #505050;
	font-size: 12px
}

.section .content
{
	margin: 0px;
	background-color: #252525;
	padding: 10px;
}



.section.dark h1
{
	color: #404040;
}

.section.dark .content
{
	background-color: #111111;
}

/* Competences */

.section .content .competence
{
	margin:  10px auto;
	height: 60px;
	max-width: 1024px;
}

.section .content .competence img
{
	float: left;
	margin-top:8px;
}

.section .content .competence .header
{
	float: left;
	margin-left: 8px;
}
.section .content .competence .header h2
{
	margin: 0px;
	margin-top: 6px;
	font-size: 15px;
    text-transform: uppercase;
	color: #9877dc;
	width: 160px;
}

.section .content .competence.secondary .header h2
{
	margin-top: 10px;
	font-size: 12px;
	color: #a6a6a6;
}


.section .content .competence.secondary .header h3
{
	font-size: 11px;
	color: #cccccc;
}

.section .content .competence .header h3
{
	margin: 0px;
	font-size: 13px;
	color: #cccccc;
}

.section .content .competence .header h3 i
{
	font-size: 10px;
}

.section .content .competence .description
{
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	margin-left: 200px;
	height: 58px;
	background: linear-gradient(to right, #303030, #252525, #252525);

}

.section .content .competence.secondary .description
{
	background: linear-gradient(to right, #2b2b2b, #252525, #252525);

}

.section .content .competence .description p
{
	font-size: 13px;
	color: #999999;
	padding: 0px;
	padding-left:20px;
	margin: 0px;
	height: 58px;
	background: url('../image/bg_round.png') no-repeat left;

}