body
{
	font-family: 'Source Sans Pro';
	margin: 0px;
	padding: 0px;
	background: #191919 url("../image/background.png") no-repeat top left;
}

.profilepic
{
	margin-bottom: 26px;
	background: url('../image/profilepic.png') no-repeat center;
	height: 76px;
}

/* Header bar */

#bar
{
	background-color: #111111;
	height: 50px;
}

/* Introduction */

#introduction
{
	margin-top: 140px;
}

#introduction h1
{
	margin: 0px;
	text-align: center;
	color: #ffffff;
	font-size: 32px;
	font-weight: 200;
}

#introduction h2
{
	margin: 0px;
	text-align: center;
	color: #9877dc;
	font-size: 16px;
	font-weight: 400;
}

/* Indicator */

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity: 1;
  }

  50% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
	opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity: 1;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity: 1;
  }

  50% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
	opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity: 1;
  }
}

.down
{
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: down;
  animation-name: down;
  animation-iteration-count: infinite;
}

#indicator
{
	margin-top: 40px;
	text-align: center;
	color: #9877dc;
	font-size: 20px;
}

/* Contact */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0.6;
  }

  50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
	opacity: 1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0.6;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0.6;
  }

  50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
	opacity: 1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0.6;
  }
}

.pulse
{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

#contact, #contact:visited
{
	margin-top: 26px;
	display: block;
	text-decoration: none;
	color: #9877dc;
	font-size: 36px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#contact:hover
{
	text-decoration: none;
	color: #ffffff;
}

/* About */

#about
{
	margin-top: 26px;
	padding: 0px;
	text-align: center;
	list-style-type: none;
}

#about li
{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #505050;
}

/* Section */

.section
{
	margin-top: 65px;
}

.section h1
{
	margin: 5px;
	color: #505050;
	font-size: 12px
}

.section .content
{
	margin: 0px;
	background-color: #252525;
	padding: 10px;
}

.section .content.shadow
{
	-moz-box-shadow: 0px -8px 20px 0px #181818;
	-webkit-box-shadow: 0px -8px 20px 0px #181818;
	-o-box-shadow: 0px -8px 20px 0px #181818;
	box-shadow: 0px -8px 20px 0px #181818;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#181818, Direction=90, Strength=20);
}

.section .content:after {
  content: "";
  display: table;
  clear: both; 
 }


.section.dark h1
{
	color: #404040;
}

.section.dark .content
{
	background-color: #111111;
}

/* Competences */

.competence
{
	margin:  10px auto;
	height: 60px;
	max-width: 1024px;
}

.competence img
{
	float: left;
	margin-top:8px;
}

.competence .header
{
	float: left;
	margin-left: 8px;
}

.competence .header h2
{
	margin: 0px;
	margin-top: 10px;
	font-size: 12px;
    text-transform: uppercase;
	color: #9877dc;
	width: 160px;
}

.competence.secondary .header h2
{
	color: #a6a6a6;
}


.competence.secondary .header h3
{
	color: #cccccc;
}

.competence .header h3
{
	margin: 0px;
	font-size: 11px;
	color: #cccccc;
}

.competence .header h3 i
{
	font-size: 10px;
}

.competence .description
{
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	margin-left: 200px;
	height: 58px;
	background: linear-gradient(to right, #303030, #252525, #252525);
}

.competence.secondary .description
{
	height: 58px;
	background: linear-gradient(to right, #2b2b2b, #252525, #252525);

}

.competence .description .container
{
	font-size: 11px;
	padding-left:17px;
	margin: 0px;
	background: url('../image/bg_round.png') no-repeat left;
}

.competence .description p
{
	font-size: 11px;
	color: #999999;
	padding: 0px;
	margin: 0px;
	height: 33px;
}

.competence .description .tools
{
	margin: 0px;
}

.competence .description .tools span
{
	margin-right: 1px;
	margin-left: 1px;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 11px;
	background-color: #999999;
	border-radius: 2px;
	color: #191919;
}

/* Experience */

#experiences > h2
{
	margin-top: 60px;
	font-size: 30px;
    text-transform: uppercase;
	color: #555555;
	text-align: center;
	font-weight: 100;
}

.exp
{
	margin-top: 68px;
	margin-bottom: 20px;
}

.exp img
{
	display: block;
	width: 42px;
	margin: auto;
}

.exp h2
{
	margin-top:10px;
	margin-bottom:0px;
	text-align: center;
	font-size: 14px;
    text-transform: uppercase;
	color: #9877dc;
}

.exp.secondary h2
{
 	color: #a6a6a6;
}

.exp h3
{
	margin-top:0px;
	margin-bottom:0px;
	text-align: center;
	font-size: 12px;
	color: #555555;
}

.exp h4
{
	margin-top:10px;
	margin-bottom:20px;
	text-align: center;
	font-size: 12px;
	color: #777777;
}

/* Large screens */

@media (min-width: 1024px) {
	
	body
	{
		background: #191919 url("../image/background.png") no-repeat top center;
	}
	
	#introduction h1
	{
		font-size: 36px;
	}
	
	#introduction h2
	{
		font-size: 20px;
	}
	
	#contact, #contact:visited
	{
		font-size: 54px;
	}
	
	.section .content .col:nth-child(2n+1)
	{
		text-align: right;
	}
	
	.section .content .col:nth-child(2n+1) .competence .description
	{
		margin-left: 0px;
		margin-right: 200px;
		text-align: right;
		background: linear-gradient(to right, #252525, #252525, #303030);
	}
	
	.section .content .col:nth-child(2n+1) .competence .description .container
	{
		padding-left: 0px;
		padding-right: 17px;
		background: url('../image/bg_round_l.png') no-repeat right;
	}
	
	
	.section .content .col:nth-child(2n+1) .competence .header h3
	{
  		direction : rtl ;
	}
	
	
	
	.section .content .col:nth-child(2n+1)
	{
		text-align: right;
	}
	
	.section .content .col:nth-child(2n+1) .competence img
	{
		float: right;
		margin-top:8px;
	}
	
	.section .content .col:nth-child(2n+1) .competence .header
	{
		float: right;
		margin-left: 0px;
		margin-right: 8px;
	}
	
	.section .content .col
	{
		margin: 0% 1%;
		width: 48%;
		float: left;
		box-sizing: border-box; 
	}
}