doctype html
html(lang="en")
  - var data = contents["index.json"].metadata
  head
    title!= data.author.name
    link(rel="stylesheet", href="css/design.css")
    link(href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css", rel="stylesheet")
  body
    div#header
        div.ion-loading-b
        h1!= data.author.name
        h2= data.author.function
    
    div#content
        p 
    
    p CONTACT
    
    div#contact
        each contact in data.contacts
            a.fa(class=["ion-"+contact.icon] href=contact.link)
        