#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
      
#footer-links
  padding: 10px
  a
    margin-right: 15px
    font-size: 30px
    color: color-link
    text-decoration: none
    &:hover
      color: #fff

#footer-info
  line-height: line-height
  font-size: 0.85em