$card-margin: 4%;
$card-wide-columns: 3;
$card-small-columns: 2;

$card-wide-width: (100% / $card-wide-columns) - $card-margin;
$card-small-width: (100% / $card-small-columns) - $card-margin;
$card-height: 150px;

.cards
{
  box-sizing: border-box;
  width: 96%;
  max-width: 800px;
  margin: 0 auto;

  p
  {
    text-align: left;
    font-size: 0.75em;
    margin: 5px 10px 0px 10px;
    color: $color-grey-dark;
  }
}

.cards:after {
  content: "";
  display: table;
  clear: both;
}

.card
{
  @include card(#fff,4px);

  h2
  {
    text-align: left;
    font-size: 0.9em;
    margin: 10px 10px 0px 10px;
    color: $color-accent;
  }

  .tags
  {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    text-align: left;
    font-weight: normal;
    font-size: 0.6em;
    padding-top: 0px;
    border-top: 1px solid $color-grey-semilight;
    margin: 5px 10px 5px 10px;
    color: $color-white;

    .tag
    {
      display: block;
      float:left;
      background: $color-accent;
      padding: 2px 8px;
      margin-right: 5px;
      margin-top: 4px;
      border-radius: 8px;
      overflow: hidden;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  a
  {
    margin-top: 3px;
    margin-left: 10px;
    text-align: left;
    display: block;
    text-decoration: none;
    color: $color-accent;
  }

  a:hover
  {
    color: $color-grey-dark;

  }

  height: $card-height;
  width:  $card-wide-width;
  margin: $card-margin / 2;
  float: left;
  box-sizing: border-box;
}

@media screen and (max-width: $media-screen-small) {
  .card
  {
    width:  $card-small-width;
  }

}
