@mixin box-shadow($params) {
  -webkit-box-shadow : $params;
     -moz-box-shadow : $params;
          box-shadow : $params;
}

@mixin column($n) {
  float: left;
  box-sizing: border-box;
  width: (100% / $n);
}

@mixin card($bg,$round) {
  background: $bg;
  border-radius: $round;
  @include box-shadow( #{ 0 0 15px $color-grey-shadow , inset 0 0 2px $color-grey-shadow } );
}
