.section {
  width: 100%;
  min-height: 100px;
  padding-top: $margin-normal;
  padding-bottom: $margin-normal;

  .icon {
    display: block;
    font-size: 2.5em;
  }

  h1 {
    margin-top: 0px;
    font-size: 0.75em;
    font-weight: 400;
  }

  p {
    margin: 0px;
    font-size: 0.65em;
  }

  a{
      margin: 0px;
      font-size: 0.65em;
      color: $color-grey-semilight;
      text-decoration: none;
  }

  a:hover{
    color: $color-white;
    text-decoration: underline;
  }
}

.section-accent {
  @extend .section;
  background-color: $color-accent;
  color: $color-white;
}

.section-dark {
  @extend .section;
  background-color: $color-grey-dark;
  color: $color-white;

  p
  {
    color: $color-grey-semilight;
  }
}

.section-light {
  @extend .section;
  background-color: $color-grey-semilight;
}


@media screen and (max-width: 47.2em) {
  .section {
    .icon {
      font-size: 1.6em;
    }
  }
}
