$color-accent: #2075f5;
$color-white: #ffffff;
$color-grey-light: #f3f3f3;
$color-grey-semilight: #c0c5cb;
$color-grey-semitransparent: rgba(0,0,0,0.12);
$color-grey-shadow: rgba(0,0,0,0.22);
$color-grey-dark: #26262c;

$font-open: 'Open Sans', sans-serif;
$font-source: 'Fira Mono', sans-serif;

$portrait-size: 150px;

$margin-small: 10px;
$margin-normal: 20px;
$margin-large: 50px;

$bubble-small: 35px;
$bubble-medium: 45px;
$bubble-large: 60px;

$media-screen-wide: 65em;
$media-screen-small: 45em;
