@import '_variables.scss';
@import '_mixins.scss';
@import '_section.scss';
@import '_card.scss';
@import '_timeline.scss';

body
{
  text-align: center;
  font-family: $font-open;
  background: $color-grey-light;
  color: $color-grey-dark;
  min-width: 600px;
}

.langs {
  color: $color-grey-dark;
  a {
    display: inline-block;
    width: 30px;
    text-align: right;
    text-transform: uppercase;
    color: $color-grey-dark;
    &:hover {
      color: $color-accent;
    }
    &:last-child {
      text-align: left;
    }
  }
}

.bubble {
  background: $color-white;
  color: $color-grey-dark;
  display: inline-block;
  margin: $margin-small;
}

.bubble-small {
  @extend .bubble;
  width: $bubble-small;
  height: $bubble-small;
  border-radius: ($bubble-small / 2);

  h2 {
    margin: 0px;
    font-size: 8px;
  }
  h4 {
    margin: 0px;
    margin-top: 3px;
    font-size: 7px;
  }
}

.bubble-medium {
  @extend .bubble;
  width: $bubble-medium;
  height: $bubble-medium;
  border-radius: ($bubble-medium / 2);

  h2 {
    margin: 0px;
    font-size: 9px;
  }
  h4 {
    margin: 0px;
    margin-top: 4px;
    font-size: 8px;
  }
}

.bubble-large {
  @extend .bubble;
  width: $bubble-large;
  height: $bubble-large;
  border-radius: ($bubble-large / 2);

  h2 {
    margin: 0px;
    margin-top: 8px;
    font-size: 11px;
  }
  h4 {
    margin: 0px;
    font-size: 9px;
  }
}

.contact a
{
  display: inline-block;
  margin: 5px;
}

a:hover .contact-icon
{
  opacity: 1;
}

.contact-icon
{
  opacity: 0.5;
}

.header
{
  .portrait
  {
    @include box-shadow( #{ 0 0 15px #fff , inset 0 0 2px #fff } );

    width: $portrait-size;
    height: $portrait-size;
    background-image: url(../img/portrait.png);
    margin: auto;
    margin-top: $margin-large;
    border-radius: ($portrait-size / 2);
  }

  .icon
  {
    font-size: 1.2em;
    color: $color-grey-semilight;
    margin-bottom: $margin-large;
  }

  .icon.main
  {
    font-size: 1.8em;
    color: $color-accent;
   padding: 0px;
    margin-bottom: $margin-large;
  }

  h1
  {
    font-weight: 700;
    text-align: center;
    font-size: 1.3em;
    margin-top: $margin-large;
    margin-bottom: 0px;
    padding: 0px;
  }

  h2
  {
    font-family: $font-source;
    font-weight: 400;
    color: $color-accent;
    text-align: center;
    font-size: 0.8em;
    margin-top: 3px;
    padding: 0px;
  }
}
